<h1>Pages#home</h1>

<ul>
  <li><%= link_to "Apartments index ", apartments_path %></li>
  <li><%= link_to "clients index", clients_path %></li>
  <li><%= link_to "Cleaners index", cleaners_path %></li>
</ul>